# Python
__pycache__/
*.py[cod]
.venv/
.env

# Data / artifacts
data/raw/*
data/processed/*
!data/raw/.keep
!data/processed/.keep
results/**
models/**
runs/**

# Notebooks
.ipynb_checkpoints/
.gitattributes
*.swp


